.Todo {
   :global {
      ul {
         position: relative;
         min-height: 128px;
         width: 300px;
         > * {
            margin: 8px 0;
         }

         .no-tasks {
            color: #94928e;
         }
      }

      .button {
         cursor: pointer;
         height: 32px;
         color: #1e1e1e;
         background: #bebcb8;
         border: none;
         border-radius: 4px;
         font-weight: 600;
         transition-property: background, opacity;
         transition-duration: 200ms;

         &:hover {
            background: #94928e;
         }
         &:disabled {
            opacity: 0.6;
            color: #1e1e1e;
         }
      }
   }
}

.Task {
   position: relative;
   height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;

   .taskBody {
      width: 100%;
      height: 100%;
      text-align: center;
      border: none;
      outline: none;
      border-radius: 4px;
      background: rgba(#1e1e1e, 0.1);
      transition: opacity 200ms;
   }
   &.done .taskBody {
      text-decoration: line-through;
      opacity: 0.6;
   }

   $size: 24px;
   $line: 4px;

   .checkbox,
   .remove {
      cursor: pointer;
      position: absolute;
      margin: 8px;
      width: $size;
      height: $size;
      box-sizing: border-box;
      border-radius: 6px;
   }

   .checkbox {
      right: 100%;
      border: $line solid #94928e;
      background: rgba(#1e1e1e, 0.05);
      transition-property: background, border-width, opacity;
      transition-duration: 200ms;
   }
   &.done .checkbox {
      border-width: $line * 2;
      background: #94928e;
      opacity: 0.6;
   }

   .remove {
      opacity: 0;
      left: 100%;
      transition: opacity 200ms 100ms;

      &::after,
      &::before {
         left: 50%;
         top: 50%;
         height: $size;
         width: $line;
         margin-left: $line / -2;
         margin-top: $size / -2;
         content: "";
         position: absolute;
         background: #bebcb8;
         transform: rotate(45deg);
         border-radius: 99px;
         transition: background 200ms;
      }
      &::before {
         transform: rotate(135deg);
      }

      &:hover {
         &::after,
         &::before {
            background: #94928e;
         }
      }
   }
   &:hover .remove {
      opacity: 1;
   }
}

.Input {
   display: flex;
   height: 32px;
   margin-bottom: 16px;

   :global {
      .name {
         flex-grow: 1;
         margin-right: 8px;
         padding-left: 8px;
         background: rgba(#1e1e1e, 0.1);
         border: #bebcb8 solid 2px;
         border-radius: 4px;
         &:hover {
            border-color: #94928e;
         }
      }
   }
}

.bulkActions {
   > * {
      margin: 0 4px;
   }
}
